html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

input::-ms-clear {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button,
input[type=submit] {
  cursor: pointer;
}

body {
  height: 100%;
  font-family: "Manrope", sans-serif;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
}
@media only screen and (max-width: 1200px) {
  body ::-webkit-scrollbar {
    display: none;
  }
}

.wrapper {
  position: relative;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  padding-top: 89px;
  padding-bottom: 50px;
}

.container {
  position: relative;
  max-width: 1296px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wpcf7-not-valid-tip {
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  top: 100%;
  margin: 2px 0 0 !important;
  color: #ff5e2b !important;
  font-size: 10px !important;
}

.wpcf7-form-control-wrap {
  display: block;
}

.wpcf7 form .wpcf7-response-output {
  display: none !important;
}

.wpcf7-form-control-wrap {
  position: relative;
  display: block;
}
.wpcf7-form-control-wrap span {
  display: block;
  position: relative;
  margin: 0;
}
.wpcf7-form-control-wrap label {
  display: block;
}
.wpcf7-form-control-wrap label input {
  display: none;
}
.wpcf7-form-control-wrap label input:checked + span::after {
  opacity: 1;
}
.wpcf7-form-control-wrap label span {
  position: relative;
  display: block;
  padding-left: 25px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #9b9b9b;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.wpcf7-form-control-wrap label span::before {
  content: "";
  position: absolute;
  left: 3px;
  top: 1px;
  width: 12px;
  height: 12px;
  background: #fff;
}
.wpcf7-form-control-wrap label span::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 3px;
  width: 8px;
  height: 5px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.wpcf7-form-control-wrap label span a {
  color: #9b9b9b;
}
@media only screen and (min-width: 1025px) {
  .wpcf7-form-control-wrap label span a:hover {
    text-decoration: none;
  }
}

.btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  cursor: pointer;
  color: #313131;
  text-align: center;
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  border-radius: 64px;
  border: 1px solid #d2b26c;
  padding: 12px 23px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 1025px) {
  .btn:hover {
    background: #d2b26c;
  }
}
.btn--yellow {
  background: #d2b26c;
}
@media only screen and (min-width: 1025px) {
  .btn--yellow:hover {
    background: #313131;
    border-color: #313131;
    color: #d2b26c;
  }
}
.btn--white {
  color: #fff;
}
@media only screen and (min-width: 1025px) {
  .btn--white:hover {
    background: #d2b26c;
    color: #313131;
  }
}

.choice {
  position: relative;
  background: #313131;
}
.choice__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.choice__info {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
.choice__title {
  position: relative;
  margin: 0 0 94px;
  color: #d2b26c;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
}
.choice__list {
  position: relative;
}
.choice__item {
  position: relative;
  margin-bottom: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.choice__item:last-child {
  margin-bottom: 0;
}
.choice__item-title {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 440px;
          flex: 0 0 440px;
  max-width: 440px;
  width: 100%;
  padding-right: 134px;
  color: #fbf7f0;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}
.choice__item-title::before {
  content: "";
  position: absolute;
  width: 86px;
  height: 2px;
  background: #d2b26c;
  top: 26px;
  right: 24px;
}
.choice__item-text {
  color: #cfcfcf;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.choice__item-text p {
  margin: 0;
}
.choice__img {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: -72px;
  margin-left: 110px;
}

.first-screen {
  position: relative;
  padding-top: 80px;
}
.first-screen__title {
  position: relative;
  margin: 0 0 36px;
  color: #313131;
  max-width: 916px;
  width: 100%;
  font-family: "Manrope";
  font-size: 48px;
  font-weight: 800;
  line-height: normal;
}
.first-screen__btns {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.first-screen__btn-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 24px;
}
.first-screen__btn-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.first-screen__img {
  position: relative;
  width: 100%;
  margin-top: -118px;
}

.footer {
  position: relative;
}
.footer__top {
  position: relative;
  padding-top: 50px;
  padding-bottom: 18px;
  border-bottom: 1px solid #f1e7d1;
  border-top: 1px solid #f1e7d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__logo {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.footer__logo-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer__nav {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 648px;
          flex: 0 0 648px;
  max-width: 648px;
  width: 100%;
  margin-left: auto;
}
.footer__nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__nav-list li {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 24px);
          flex: 0 0 calc(50% - 24px);
  max-width: calc(50% - 24px);
  width: 100%;
  margin-right: 24px;
  margin-bottom: 16px;
}
.footer__nav-list a {
  display: block;
  text-decoration: none;
  color: #313131;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 1025px) {
  .footer__nav-list a:hover {
    color: #d2b26c;
  }
}
.footer__contacts {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  max-width: 300px;
  width: 100%;
}
.footer__contacts-row {
  position: relative;
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer__contacts-row:last-child {
  margin-bottom: 0;
}
.footer__contacts-icon {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 12px;
}
.footer__contacts-address {
  position: relative;
  color: #626262;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
.footer__contacts-list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__contacts-list li {
  position: relative;
}
.footer__contacts-list a {
  display: block;
  text-decoration: none;
  color: #626262;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 1025px) {
  .footer__contacts-list a:hover {
    color: #d2b26c;
  }
}
.footer__bottom {
  position: relative;
  padding-top: 18px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__bottom-links {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__bottom-links li {
  position: relative;
  margin-right: 24px;
}
.footer__bottom-links li:last-child {
  margin-right: 0;
}
.footer__bottom-links a {
  display: block;
  text-decoration: none;
  color: #898989;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 1025px) {
  .footer__bottom-links a:hover {
    color: #d2b26c;
  }
}
.footer__copy {
  position: relative;
  color: #aaa;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.full-service {
  position: relative;
}
.full-service__head {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.full-service__head-title {
  color: #111;
  font-size: 48px;
  font-weight: 800;
  line-height: normal;
  margin: 0;
  position: relative;
  max-width: 440px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 440px;
          flex: 0 0 440px;
  margin-right: 110px;
}
.full-service__head-text {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #313131;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  padding-left: 40px;
  border-left: 8px solid #d2b26c;
}
.full-service__head-text p {
  margin: 0;
}
.full-service__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.full-service__nav {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 306px;
          flex: 0 0 306px;
  max-width: 306px;
  width: 100%;
  margin-right: 24px;
  padding-top: 24px;
}
.full-service__nav-list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
.full-service__nav-list li {
  position: relative;
  margin-bottom: 24px;
}
.full-service__nav-list li:last-child {
  margin-bottom: 0;
}
.full-service__nav-list a {
  display: block;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #898989;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  border-left: 3px solid transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 1025px) {
  .full-service__nav-list a:hover {
    color: #d2b26c;
  }
}
.full-service__nav-list a.active {
  color: #d2b26c;
  padding-left: 17px;
  border-color: #d2b26c;
}
.full-service__options {
  position: relative;
  margin-right: -72px;
  border-left: 1px solid #d2b26c;
}
.full-service__tab {
  position: relative;
}
.full-service__tab-head {
  position: relative;
  padding: 40px 86px;
  min-height: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.full-service__tab-head-title {
  position: relative;
  margin: 0 0 12px;
  color: #111;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
}
.full-service__tab-head-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.full-service__tab-head-text {
  position: relative;
  margin: 0 0 24px;
  color: #313131;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  max-width: 550px;
}
.full-service__tab-head-text p {
  margin: 0;
}
.full-service__tab-head-btn {
  position: relative;
}
.full-service__tab-body {
  position: relative;
  padding: 40px 158px 29px 86px;
}
.full-service__tab-body-item {
  position: relative;
  margin-bottom: 40px;
}
.full-service__tab-body-item:last-child {
  margin-bottom: 0;
}
.full-service__tab-body-item-title {
  margin: 0 0 12px;
  position: relative;
  color: #313131;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}
.full-service__tab-body-item-text {
  position: relative;
  color: #626262;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.full-service__tab-body-item-text p {
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #fff;
  border-bottom: 1px solid #f1e7d1;
  background: #fff;
}
.home .header {
  border-color: transparent;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header__left {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 1025px) {
  .header__menu-btn:hover {
    border-color: #d2b26c;
  }
}
.header__menu-btn svg {
  fill: #1d1d1d;
}
.header__menu-btn--white svg {
  fill: #fff;
}
.header__logo {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header__logo-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.header__right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__btn {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header__menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.open-menu .header__menu {
  opacity: 1;
  visibility: visible;
}
.header__menu-head {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 autp;
          flex: 0 0 autp;
}
.header__menu-body {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__menu-box {
  position: relative;
  padding-top: 24px;
  padding-bottom: 53px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-right: 1px solid #d2b26c;
  width: 306px;
}
.header__menu-nav {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header__menu-nav-item {
  margin-bottom: 24px;
  padding-right: 24px;
}
@media only screen and (min-width: 1025px) {
  .header__menu-nav-item:hover .header__menu-nav-link {
    color: #d2b26c;
    padding-left: 20px;
  }
  .header__menu-nav-item:hover .header__menu-nav-link::before {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header__menu-nav-item:hover .header__menu-nav-sub {
    opacity: 1;
    visibility: visible;
  }
}
.header__menu-nav-item:last-child {
  margin-bottom: 0;
}
.header__menu-nav-sub {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.header__menu-nav-link {
  position: relative;
  display: block;
  text-decoration: none;
  color: #898989;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.header__menu-nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #d2b26c;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.header__menu-nav-sub-1 {
  position: absolute;
  left: 100%;
  top: -24px;
  width: 526px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header__menu-nav-sub-1-item {
  position: relative;
}
.header__menu-nav-sub-1-link {
  position: relative;
  text-decoration: none;
  padding: 40px 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #cfcfcf;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 1025px) {
  .header__menu-nav-sub-1-link:hover {
    color: #d2b26c;
  }
}
.header__menu-nav-sub-1-link img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  margin-right: 10px;
  width: 40px;
}
.header__menu-nav-sub-2 {
  position: absolute;
  width: 990px;
  left: 100%;
  top: -24px;
  padding-left: 24px;
  padding-top: 49px;
  padding-bottom: 30px;
}
.header__menu-nav-sub-title {
  position: relative;
  margin-bottom: 36px;
  color: #cfcfcf;
  font-size: 16px;
  font-weight: 500;
  line-height: 26.5px;
}
.header__menu-nav-sub-2-list {
  list-style: none;
  padding: 0;
  margin: 0 0 36px;
}
.header__menu-nav-sub-2-item {
  position: relative;
}
.header__menu-nav-sub-2-link {
  display: block;
  position: relative;
  padding-top: 39px;
  padding-bottom: 39px;
  text-decoration: none;
}
@media only screen and (min-width: 1025px) {
  .header__menu-nav-sub-2-link:hover > img {
    opacity: 1;
  }
  .header__menu-nav-sub-2-link:hover .header__menu-nav-sub-2-link-title {
    color: #d2b26c;
  }
}
.header__menu-nav-sub-2-link > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.header__menu-nav-sub-2-link-title {
  position: relative;
  margin-bottom: 8px;
  color: #f7f7f7;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.header__menu-nav-sub-2-link-text {
  position: relative;
  color: #f7f7f7;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}
.header__menu-nav-all-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #d2b26c;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 1025px) {
  .header__menu-nav-all-btn:hover {
    text-decoration: underline;
  }
}
.header__menu-nav-all-btn svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: 12px;
}
.header__menu-nav-sub-3 {
  position: absolute;
  top: 0;
  left: 100%;
  width: 990px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header__menu-nav-sub-3-item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.333% - 24px);
          flex: 0 0 calc(33.333% - 24px);
  max-width: calc(33.333% - 24px);
  width: 100%;
  margin-left: 24px;
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__menu-nav-sub-3-link {
  position: relative;
  display: block;
  text-decoration: none;
}
@media only screen and (min-width: 1025px) {
  .header__menu-nav-sub-3-link:hover .header__menu-nav-sub-3-link-title {
    color: #d2b26c;
  }
}
.header__menu-nav-sub-3-link-img {
  margin-bottom: 8px;
  height: 180px;
}
.header__menu-nav-sub-3-link-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__menu-nav-sub-3-link-title {
  position: relative;
  margin-bottom: 8px;
  color: #f7f7f7;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.header__menu-nav-sub-3-link-text {
  position: relative;
  overflow: hidden;
  color: #cfcfcf;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  max-height: 44px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.header__menu-nav-sub-3-link-text p {
  margin: 0;
}
.header__menu-contacts {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header__menu-contacts-box {
  position: relative;
  border-bottom: 1px solid #4f4f4f;
  padding-bottom: 17px;
  margin-bottom: 17px;
}
.header__menu-contacts-list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header__menu-contacts-list li {
  position: relative;
}
.header__menu-contacts-list a {
  display: block;
  text-decoration: none;
  color: #cfcfcf;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 1025px) {
  .header__menu-contacts-list a:hover {
    color: #d2b26c;
  }
}
.header__menu-contacts-row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}
.header__menu-contacts-row:last-child {
  margin-bottom: 0;
}
.header__menu-contacts-icon {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 12px;
}
.header__menu-contacts-address {
  display: block;
  color: #cfcfcf;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
.info {
  position: relative;
  padding-top: 85px;
  padding-bottom: 85px;
}
.info__text {
  color: #313131;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  padding-left: 40px;
  border-left: 8px solid #d2b26c;
  max-width: 966px;
  width: 100%;
  margin-left: 110px;
}

.portfolio {
  position: relative;
  padding-top: 88px;
  padding-bottom: 50px;
}
.portfolio__head {
  position: relative;
  margin-bottom: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.portfolio__title {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 416px;
          flex: 0 0 416px;
  max-width: 416px;
  width: 100%;
  margin: 0 24px 0 0;
  color: #111;
  font-size: 48px;
  font-weight: 800;
  line-height: normal;
}
.portfolio__text {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #313131;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  padding-left: 40px;
  border-left: 8px solid #d2b26c;
}
.portfolio__text p {
  margin: 0;
}
.portfolio__slider {
  position: relative;
}
.portfolio__slider .slick-arrow {
  position: absolute;
  z-index: 1;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  top: 50%;
  margin-top: -24px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 1025px) {
  .portfolio__slider .slick-arrow:hover {
    background: #d2b26c;
    border-color: #d2b26c;
  }
}
.portfolio__slider .slick-arrow svg {
  fill: #111;
}
.portfolio__slider .slick-arrow.slick-next {
  right: -24px;
}
.portfolio__slider .slick-arrow.slick-next svg {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
.portfolio__slider .slick-arrow.slick-prev {
  left: -24px;
}
.portfolio__slider-item {
  position: relative;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: 492px;
}
.portfolio__slider-item-big {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(68% - 24px);
          flex: 0 0 calc(68% - 24px);
  max-width: calc(68% - 24px);
  width: 100%;
  margin-right: 24px;
}
.portfolio__slider-item-big img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio__slider-item-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(45.83%, rgba(0, 0, 0, 0)), color-stop(93.23%, #000));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45.83%, #000 93.23%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 32px;
}
.portfolio__slider-item-title {
  position: relative;
  color: #f7f7f7;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
}
.portfolio__slider-item-text {
  position: relative;
  color: #898989;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}
.portfolio__slider-item-small {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  max-width: 32%;
  width: 100%;
}
.portfolio__slider-item-small img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews {
  position: relative;
  padding-top: 50px;
}
.reviews__title {
  position: relative;
  color: #111;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 48px;
}
.reviews__slider {
  position: relative;
  margin: 0 -12px 48px;
}
.reviews__slider .slick-slide {
  margin-left: 12px;
  margin-right: 12px;
}
.reviews__slider .slick-arrow {
  position: absolute;
  z-index: 1;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  top: 50%;
  margin-top: -24px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 1025px) {
  .reviews__slider .slick-arrow:hover {
    background: #d2b26c;
    border-color: #d2b26c;
  }
}
.reviews__slider .slick-arrow svg {
  fill: #111;
}
.reviews__slider .slick-arrow.slick-next {
  right: -12px;
}
.reviews__slider .slick-arrow.slick-next svg {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
.reviews__slider .slick-arrow.slick-prev {
  left: -12px;
}
.reviews__slider-item {
  position: relative;
  vertical-align: top;
}
.reviews__info {
  position: relative;
  padding: 48px 24px;
  border-radius: 24px;
  background: #fbf7f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviews__info-item {
  position: relative;
  width: 100%;
}
.reviews__info-item-value {
  position: relative;
  margin-bottom: 16px;
  color: #d2b26c;
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  line-height: normal;
}
.reviews__info-item-text {
  position: relative;
  color: #313131;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.services {
  position: relative;
  padding-top: 64px;
  padding-bottom: 64px;
}
.services__title {
  position: relative;
  margin: 0 0 32px;
  color: #111;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
}
.services__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -24px;
  margin-top: -32px;
}
.services__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.333% - 24px);
          flex: 0 0 calc(33.333% - 24px);
  max-width: calc(33.333% - 24px);
  width: 100%;
  margin-left: 24px;
  margin-top: 32px;
  border-radius: 8px;
  border: 1px solid #e1cb9d;
  padding: 24px;
  text-decoration: none;
  color: #584b2d;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 1025px) {
  .services__item:hover {
    background: #fbf7f0;
    color: #d2b26c;
  }
}
.services__item-decor {
  position: absolute;
  top: 24px;
  right: 24px;
}
.services__item-img {
  position: relative;
  margin-bottom: 16px;
  padding-right: 30px;
}
.services__item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.tab {
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.tab.active {
  height: auto;
  overflow: visible;
  opacity: 1;
}
/*# sourceMappingURL=index.css.map */
