html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

input::-ms-clear {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button,
input[type=submit] {
  cursor: pointer;
}

body {
  height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}
@media only screen and (max-width: 1200px) {
  body ::-webkit-scrollbar {
    display: none;
  }
}

.wrapper {
  position: relative;
  max-width: 100%;
  width: 100%;
  padding-top: 65px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media only screen and (max-width: 1200px) {
  .wrapper {
    padding-top: 53px;
  }
}

.container {
  position: relative;
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 1340px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wpcf7-not-valid-tip {
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  top: 100%;
  margin: 2px 0 0 !important;
  color: #ff5e2b !important;
  font-size: 10px !important;
}

.wpcf7-form-control-wrap {
  display: block;
}

.wpcf7 form .wpcf7-response-output {
  display: none !important;
}

.wpcf7-form-control-wrap {
  position: relative;
  display: block;
}
.wpcf7-form-control-wrap span {
  display: block;
  position: relative;
  margin: 0;
}
.wpcf7-form-control-wrap label {
  display: block;
}
.wpcf7-form-control-wrap label input {
  display: none;
}
.wpcf7-form-control-wrap label input:checked + span::after {
  opacity: 1;
}
.wpcf7-form-control-wrap label span {
  position: relative;
  display: block;
  padding-left: 25px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #9b9b9b;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.wpcf7-form-control-wrap label span::before {
  content: "";
  position: absolute;
  left: 3px;
  top: 1px;
  width: 12px;
  height: 12px;
  background: #fff;
}
.wpcf7-form-control-wrap label span::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 3px;
  width: 8px;
  height: 5px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.wpcf7-form-control-wrap label span a {
  color: #9b9b9b;
}
@media only screen and (min-width: 1025px) {
  .wpcf7-form-control-wrap label span a:hover {
    text-decoration: none;
  }
}

.atricle {
  position: relative;
}
.atricle__title {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #1b1f27;
}
@media only screen and (max-width: 1200px) {
  .atricle__title {
    font-size: 26px;
    line-height: 32px;
  }
}
.atricle__share {
  position: relative;
  border-bottom: 1px solid #D0D3D8;
  margin-bottom: 40px;
  padding-bottom: 10px;
}
@media only screen and (max-width: 1200px) {
  .atricle__share {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: auto;
  }
}
.atricle__content {
  position: relative;
}

.breadcrumb {
  list-style: none;
  padding: 10px 70px;
  margin: -20px -140px 40px -70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #373737;
}
@media only screen and (max-width: 1200px) {
  .breadcrumb {
    margin: 0 -20px 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.breadcrumb li {
  position: relative;
  margin-right: 25px;
}
.breadcrumb a {
  display: block;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #0b1014;
}
@media only screen and (min-width: 1025px) {
  .breadcrumb a:hover {
    text-decoration: underline;
  }
}
.breadcrumb a::before {
  content: "";
  position: absolute;
  background: #0b1014;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  top: 50%;
  margin-top: -3px;
  right: -15px;
  pointer-events: none;
}
.breadcrumb span {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #0b1014;
}

.category {
  position: relative;
}
.category__title {
  position: relative;
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #1b1f27;
  margin-top: 30px;
}
@media only screen and (max-width: 1200px) {
  .category__title {
    font-size: 30px;
    line-height: 38px;
  }
}
.category__text {
  position: relative;
  margin: 0 0 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #3f444d;
}
@media only screen and (max-width: 1200px) {
  .category__text {
    margin-bottom: 80px;
  }
}
.category__alphabet-holder {
  margin-bottom: 14px;
}
@media only screen and (max-width: 1200px) {
  .category__alphabet-holder {
    margin-bottom: 40px;
  }
}
.category__alphabet {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -6px;
}
.category__alphabet-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44px;
          flex: 0 0 44px;
  width: 44px;
  height: 44px;
  border: 2px solid #1b1f27;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #1b1f27;
  text-decoration: none;
  margin-left: 6px;
  margin-bottom: 6px;
  text-transform: uppercase;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
@media only screen and (max-width: 767px) {
  .category__alphabet-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(14.2% - 6px);
            flex: 0 0 calc(14.2% - 6px);
    width: calc(14.2% - 6px);
  }
  .category__alphabet-item:nth-child(7) ~ .category__alphabet-item {
    display: none;
  }
  .category__alphabet-holder.show-hide-items .category__alphabet-item:nth-child(7) ~ .category__alphabet-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media only screen and (min-width: 1025px) {
  .category__alphabet-item:hover {
    background: #1b1f27;
    color: #fff;
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}
.category__alphabet-item.active {
  background: #1b1f27;
  color: #fff;
}
.category__list {
  position: relative;
}
.category__row {
  position: relative;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 1200px) {
  .category__row {
    margin-bottom: 40px;
  }
}
.category__row-title {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
  width: 120px;
  text-align: center;
  margin-right: 10px;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.02em;
  color: #1b1f27;
  text-transform: uppercase;
}
@media only screen and (max-width: 1200px) {
  .category__row-title {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65px;
            flex: 0 0 65px;
    width: 65px;
  }
}
.category__item {
  position: relative;
}
.category__item-list-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.category__alphabet-mobile-btn {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .category__alphabet-mobile-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px 10px;
    background: #f1ddc0;
    border: 1px solid #b89a6e;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-top: 4px;
    color: #23272f;
  }
  .category__alphabet-holder.show-hide-items .category__alphabet-mobile-btn svg {
    -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
  }
  .category__alphabet-holder.show-hide-items .category__alphabet-mobile-btn span:nth-child(1) {
    display: none;
  }
  .category__alphabet-holder.show-hide-items .category__alphabet-mobile-btn span:nth-child(2) {
    display: block;
  }
  .category__alphabet-mobile-btn span:nth-child(2) {
    display: none;
  }
  .category__alphabet-mobile-btn svg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-left: 8px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
}
.category__item-link {
  position: relative;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1b1f27;
  margin-bottom: 10px;
  margin-left: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.333% - 10px);
          flex: 0 0 calc(33.333% - 10px);
  max-width: calc(33.333% - 10px);
  width: 100%;
  padding: 10px;
  background: #f9f6f1;
  text-align: center;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
@media only screen and (max-width: 1200px) {
  .category__item-link {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 10px);
            flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
}
@media only screen and (max-width: 767px) {
  .category__item-link {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 10px);
            flex: 0 0 calc(100% - 10px);
    max-width: calc(100% - 10px);
  }
}
@media only screen and (min-width: 1025px) {
  .category__item-link:hover {
    background: #1b1f27;
    color: #fff;
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

.feedback {
  position: relative;
  margin-bottom: 20px;
}
.feedback__title {
  position: relative;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
.feedback__btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 6px 16px;
  border: 2px solid #1b1f27;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #1b1f27;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 1025px) {
  .feedback__btn:hover {
    background: #e9c795;
    border-color: #e9c795;
  }
}

.first-screen {
  position: relative;
  background: #f9f6f1;
  padding-top: 80px;
  padding-bottom: 48px;
}
@media only screen and (max-width: 1200px) {
  .first-screen {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.first-screen__title {
  position: relative;
  margin: 0 0 20px;
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #1b1f27;
}
@media only screen and (max-width: 1200px) {
  .first-screen__title {
    font-size: 30px;
    line-height: 38px;
  }
}
.first-screen__descriptions {
  position: relative;
  max-width: 748px;
  width: 100%;
  margin: 0 auto 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #3f444d;
}
@media only screen and (max-width: 1200px) {
  .first-screen__descriptions {
    font-size: 16px;
    line-height: 24px;
  }
}
.first-screen__descriptions:last-child {
  margin-bottom: 0;
}
.first-screen__search::before {
  content: "";
  position: absolute;
  bottom: -48px;
  left: 50%;
  width: 100vw;
  margin-left: -50vw;
  height: 84px;
  background: #fff;
}
.first-screen__search-form {
  position: relative;
  max-width: 620px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.first-screen__search-form::before {
  content: "";
  position: absolute;
  left: 20px;
  right: 20px;
  height: 8px;
  background: #1b1f27;
  top: 100%;
}
@media only screen and (max-width: 1200px) {
  .first-screen__search-form::before {
    height: 4px;
  }
}
.first-screen__search-icon {
  position: absolute;
  left: 28px;
  top: 50%;
  margin-top: -20px;
  fill: #1b1f27;
}
@media only screen and (max-width: 1200px) {
  .first-screen__search-icon {
    width: 18px;
    height: 18px;
    margin-top: -9px;
    left: 15px;
  }
}
.first-screen__search-input {
  width: 100%;
  padding: 10px 24px 10px 82px;
  height: 68px;
  background: #fff;
  border: 1px solid #1b1f27;
  font-weight: 400;
  font-size: 30px;
  color: #1b1f27;
}
@media only screen and (max-width: 1200px) {
  .first-screen__search-input {
    height: 50px;
    font-size: 24px;
    padding-left: 40px;
  }
}
.first-screen__search-input::-webkit-input-placeholder {
  color: #959aa4;
}
.first-screen__search-input::-moz-placeholder {
  color: #959aa4;
}
.first-screen__search-input:-ms-input-placeholder {
  color: #959aa4;
}
.first-screen__search-input::-ms-input-placeholder {
  color: #959aa4;
}
.first-screen__search-input::placeholder {
  color: #959aa4;
}

.footer {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background: #23272f;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media only screen and (max-width: 1200px) {
  .footer {
    padding: 40px 20px 50px;
    background: #0b1014;
  }
}
.footer__container {
  position: relative;
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 1200px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__cell {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  max-width: 35%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 1200px) {
  .footer__cell {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
}
.footer__cell:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media only screen and (max-width: 1200px) {
  .footer__cell:last-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__logo {
  position: relative;
}
.footer__logo-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer__copy {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  max-width: 30%;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #d0d3d8;
  text-align: center;
}
@media only screen and (max-width: 1200px) {
  .footer__copy {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    max-width: 100%;
    margin-top: 10px;
  }
}
.footer__links {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__links li {
  margin-right: 23px;
}
.footer__links li:last-child {
  margin-right: 0;
}
.footer__links li:last-child a::before {
  display: none;
}
.footer__links a {
  display: block;
  text-decoration: none;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
}
@media only screen and (min-width: 1025px) {
  .footer__links a:hover {
    text-decoration: underline;
  }
}
.footer__links a::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #e9c795;
  top: 50%;
  margin-top: -1px;
  right: -13px;
  pointer-events: none;
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-bottom: 1px solid #23272f;
}
.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 1200px) {
  .header__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.header__left {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header__logo {
  position: relative;
}
@media only screen and (max-width: 1200px) {
  .header__logo {
    max-width: 200px;
  }
}
.header__logo-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.header__right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 1200px) {
  .header__right {
    position: initial;
  }
}
.header__categories {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: 30px;
}
@media only screen and (max-width: 1200px) {
  .header__categories {
    margin-left: 0;
    margin-bottom: 30px;
  }
}
.header__categories-list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header__home-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: 20px;
  padding: 20px 32px;
  background: #f9f6f1;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #23272f;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media only screen and (max-width: 1200px) {
  .header__home-link {
    margin-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
@media only screen and (min-width: 1025px) {
  .header__home-link:hover {
    color: #b89a6e;
  }
}
.header__home-link svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 10px;
}
.header__search {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 360px;
          flex: 0 0 360px;
  width: 360px;
}
@media only screen and (max-width: 1200px) {
  .header__search {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    position: initial;
  }
}
.header__search-form {
  position: relative;
}
@media only screen and (max-width: 1200px) {
  .header__search-form {
    position: absolute;
    top: 100%;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
    -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .header__search.active .header__search-form {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.header__search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  margin-top: -14px;
}
.header__search-input {
  padding: 8px 10px 8px 52px;
  height: 48px;
  background: #fff;
  border: 1px solid #23272f;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  color: #23272f;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media only screen and (max-width: 1200px) {
  .header__search-input {
    border-left: 0;
    border-right: 0;
  }
}
.header__search-input:focus {
  border-color: #b89a6e;
}
.header__search-input::-webkit-input-placeholder {
  color: #959aa4;
  font-style: italic;
}
.header__search-input::-moz-placeholder {
  color: #959aa4;
  font-style: italic;
}
.header__search-input:-ms-input-placeholder {
  color: #959aa4;
  font-style: italic;
}
.header__search-input::-ms-input-placeholder {
  color: #959aa4;
  font-style: italic;
}
.header__search-input::placeholder {
  color: #959aa4;
  font-style: italic;
}
.header__search-mobile-btn {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .header__search-mobile-btn {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid #23272f;
  }
}
.header__search-mobile-open {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -9px;
  margin-top: -9px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.header__search.active .header__search-mobile-open {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}
.header__search-mobile-close {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -9px;
  margin-top: -9px;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.header__search.active .header__search-mobile-close {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.header__mobile-menu {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .header__mobile-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    background: #23272f;
    margin-left: 16px;
  }
}
.header__mobile-menu-open {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -9px;
  margin-top: -6px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.header.active-menu .header__mobile-menu-open {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}
.header__mobile-menu-close {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -9px;
  margin-top: -9px;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.header.active-menu .header__mobile-menu-close {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.header__mobile {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .header__mobile {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: calc(100vh - 53px);
    opacity: 0;
    background: #fff;
    padding-bottom: 40px;
    overflow-y: auto;
    visibility: hidden;
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .header.active-menu .header__mobile {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

.menu-item-has-children {
  position: relative;
}
@media only screen and (min-width: 1025px) {
  .menu-item-has-children:hover > span::before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    margin-top: -4px;
  }
  .menu-item-has-children:hover > ul {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.menu-item-has-children > span {
  display: block;
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #23272f;
  padding-right: 28px;
  padding: 20px 28px 20px 20px;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .menu-item-has-children > span {
    padding-bottom: 0;
  }
}
.menu-item-has-children > span::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #23272f;
  border-left: 2px solid #23272f;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: 9px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media only screen and (max-width: 1200px) {
  .menu-item-has-children > span::before {
    display: none;
  }
}
.menu-item-has-children > ul {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  top: 100%;
  left: 0;
  width: 240px;
  background: #fff;
  z-index: 1;
  padding: 10px 0px;
  border: 1px solid #23272f;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0;
  visibility: hidden;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
@media only screen and (max-width: 1200px) {
  .menu-item-has-children > ul {
    position: relative;
    visibility: visible;
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    width: 100%;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
.menu-item-has-children > ul li {
  position: relative;
}
.menu-item-has-children > ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #3f444d;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media only screen and (max-width: 1200px) {
  .menu-item-has-children > ul a {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (min-width: 1025px) {
  .menu-item-has-children > ul a:hover {
    color: #b89a6e;
  }
}
.menu-item-has-children > ul a img {
  width: 56px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 56px;
          flex: 0 0 56px;
  margin-right: 10px;
}

.main-categories {
  position: relative;
  padding: 40px 70px 20px;
}
@media only screen and (max-width: 1200px) {
  .main-categories {
    padding: 40px 0;
  }
}
.main-categories__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -60px;
}
@media only screen and (max-width: 1200px) {
  .main-categories__list {
    margin-left: -20px;
  }
}
.main-categories__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(20% - 60px);
          flex: 0 0 calc(20% - 60px);
  max-width: calc(20% - 60px);
  width: 100%;
  margin-left: 60px;
  margin-bottom: 60px;
  color: #3f444d;
  text-decoration: none;
}
@media only screen and (min-width: 1201px) {
  .main-categories__item {
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
  }
}
@media only screen and (max-width: 1200px) {
  .main-categories__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 20px);
            flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
    margin-left: 20px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .main-categories__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 20px);
            flex: 0 0 calc(100% - 20px);
    max-width: calc(100% - 20px);
  }
  .main-categories__item:last-child {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1025px) {
  .main-categories__item:hover {
    color: #b89a6e;
  }
}
.main-categories__item-img {
  position: relative;
  margin-bottom: 10px;
}
.main-categories__item-img img {
  width: 100%;
}
.main-categories__item-title {
  position: relative;
  display: block;
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.main {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 80px;
}
@media only screen and (max-width: 1200px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-bottom: 40px;
  }
}
.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 320px;
  bottom: 80px;
  width: 1px;
  background: #1b1f27;
}
@media only screen and (max-width: 1200px) {
  .main::before {
    display: none;
  }
}
.main__aside {
  position: sticky;
  top: 70px;
  padding: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
  max-width: 320px;
  width: 100%;
}
@media only screen and (max-width: 1200px) {
  .main__aside {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    max-width: 100%;
    top: auto;
  }
  .main__aside::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    height: 1px;
    background: #23272f;
  }
}
.main__aside-icon {
  position: relative;
  margin-bottom: 12px;
}
.main__aside-info {
  position: relative;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #1b1f27;
  margin: 0 0 20px;
  border-bottom: 1px solid #1b1f27;
}
.main__aside-link {
  position: relative;
  display: block;
  text-decoration: none;
  padding: 5px 30px 5px 10px;
  background: #f1ddc0;
  color: #1b1f27;
  border: 1px solid #b89a6e;
  margin-bottom: 60px;
}
@media only screen and (min-width: 1025px) {
  .main__aside-link:hover {
    text-decoration: underline;
  }
}
.main__aside-link-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.main__aside-link-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.main__aside-link-icon {
  position: absolute;
  top: 7px;
  right: 12px;
}
.main__content {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 20px 120px 0 70px;
}
@media only screen and (max-width: 1200px) {
  .main__content {
    padding: 0 20px;
    margin-bottom: 60px;
  }
}

.mentioned {
  position: relative;
  margin-bottom: 30px;
}
.mentioned__title {
  position: relative;
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #3f444d;
}
.mentioned__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 0 0 -10px;
}
.mentioned__list li {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.333% - 10px);
          flex: 0 0 calc(33.333% - 10px);
  max-width: calc(33.333% - 10px);
  width: 100%;
  margin-left: 10px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1200px) {
  .mentioned__list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 10px);
            flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
}
@media only screen and (max-width: 767px) {
  .mentioned__list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 10px);
            flex: 0 0 calc(100% - 10px);
    max-width: calc(100% - 10px);
  }
}
.mentioned__list a {
  display: block;
  text-decoration: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.mentioned__list a img {
  width: 100%;
}
@media only screen and (min-width: 1025px) {
  .mentioned__list a:hover {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}
.mentioned__small {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 10px);
          flex: 0 0 calc(25% - 10px);
  max-width: calc(25% - 10px);
}
@media only screen and (max-width: 1200px) {
  .mentioned__small {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 10px);
            flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
}
@media only screen and (max-width: 767px) {
  .mentioned__small {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 10px);
            flex: 0 0 calc(100% - 10px);
    max-width: calc(100% - 10px);
  }
}
.mentioned__item {
  display: block;
  padding: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1b1f27;
  background: #f1ddc0;
  border-width: 1px;
  border-style: solid;
  border-color: #b89a6e;
  text-align: center;
}

.mobile-link {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .mobile-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding: 8px 32px;
    background: #f9f6f1;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #23272f;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    margin-top: 10px;
  }
  .mobile-link--home {
    margin-top: 0;
    border-bottom: 1px solid #23272f;
  }
}
.mobile-link svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 10px;
}

.paginations {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.paginations li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: 5px;
  margin-right: 5px;
}
@media only screen and (max-width: 1200px) {
  .paginations li {
    margin-left: 3px;
    margin-right: 3px;
  }
}
.paginations a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1b1f27;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media only screen and (max-width: 1200px) {
  .paginations a {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (min-width: 1025px) {
  .paginations a:hover {
    background: #1b1f27;
    color: #fff;
  }
  .paginations a:hover svg {
    fill: #fff;
  }
}
.paginations a svg {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.paginations span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1b1f27;
}
.paginations span.paginations__current {
  background: #1b1f27;
  color: #fff;
}

.search {
  position: relative;
}
.search__top-text {
  position: relative;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #3f444d;
  padding-top: 20px;
}
@media only screen and (max-width: 1200px) {
  .search__top-text {
    font-size: 18px;
  }
}
.search__title-box {
  position: relative;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 1200px) {
  .search__title-box {
    margin-bottom: 30px;
  }
}
.search__title-icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 13px;
}
@media only screen and (max-width: 1200px) {
  .search__title-icon {
    margin-right: 10px;
  }
  .search__title-icon svg {
    width: 24px;
    height: 24px;
  }
}
.search__title {
  position: relative;
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #1b1f27;
}
@media only screen and (max-width: 1200px) {
  .search__title {
    font-size: 24px;
    line-height: 30px;
  }
}
.search__list {
  position: relative;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
}
.search__item {
  position: relative;
  text-decoration: none;
  padding: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1b1f27;
  background: #f9f6f1;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.333% - 10px);
          flex: 0 0 calc(33.333% - 10px);
  max-width: calc(33.333% - 10px);
  width: 100%;
  margin-left: 10px;
  margin-bottom: 10px;
  text-align: center;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
@media only screen and (max-width: 1200px) {
  .search__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 10px);
            flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
}
@media only screen and (max-width: 767px) {
  .search__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 10px);
            flex: 0 0 calc(100% - 10px);
    max-width: calc(100% - 10px);
  }
}
@media only screen and (min-width: 1025px) {
  .search__item:hover {
    background: #1b1f27;
    color: #fff;
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

.share {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.share li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 10px;
}
.share button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6px 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #1b1f27;
  background: #fff;
  border: 0;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
@media only screen and (min-width: 1025px) {
  .share button:hover {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}
.share button img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  margin-right: 4px;
}

.sign-up {
  position: relative;
  background: radial-gradient(89.62% 89.62% at 20% 20%, #ffe5c0 0%, #e9e9e9 100%);
  border: 1px solid #e9c795;
  padding: 20px;
}
.sign-up__title {
  position: relative;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #9d825c;
  padding-left: 2px;
  padding-right: 2px;
}
.sign-up__text {
  position: relative;
  margin: 0 0 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #1b1f27;
}
.sign-up__form {
  position: relative;
}
.sign-up__form-row {
  position: relative;
  margin-bottom: 10px;
}
.sign-up__form-row-label {
  position: relative;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #1b1f27;
}
.sign-up__form-input {
  width: 100%;
  padding: 8px 10px;
  background: #fff;
  border: 1px solid #6e737d;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6e737d;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 1025px) {
  .sign-up__form-input:hover {
    border-color: #e9c795;
  }
}
.sign-up__form-input:focus {
  border-color: #e9c795;
}
.sign-up__form-input::-webkit-input-placeholder {
  font-style: italic;
  color: #959aa4;
}
.sign-up__form-input::-moz-placeholder {
  font-style: italic;
  color: #959aa4;
}
.sign-up__form-input:-ms-input-placeholder {
  font-style: italic;
  color: #959aa4;
}
.sign-up__form-input::-ms-input-placeholder {
  font-style: italic;
  color: #959aa4;
}
.sign-up__form-input::placeholder {
  font-style: italic;
  color: #959aa4;
}
.sign-up__form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 12px 24px;
  background: #1b1f27;
  margin-top: 20px;
  width: 100%;
  border: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 1025px) {
  .sign-up__form-btn:hover {
    background: #e9c795;
    color: #23272f;
  }
  .sign-up__form-btn:hover svg {
    fill: #23272f;
  }
}
.sign-up__form-btn svg {
  fill: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: 12px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.sources {
  position: relative;
  padding-top: 30px;
  border-top: 1px solid #d0d3d8;
  border-bottom: 1px solid #d0d3d8;
  padding-bottom: 30px;
}
.sources__head {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}
.sources__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #3f444d;
}
.sources__head-btn {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1b1f27;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sources__head-btn span:nth-child(2) {
  display: none;
}
.sources.hide .sources__head-btn span:first-child {
  display: none;
}
.sources.hide .sources__head-btn span:nth-child(2) {
  display: block;
}
.sources__head-btn-icon {
  position: relative;
  background: #f1ddc0;
  border-radius: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 28px;
          flex: 0 0 28px;
  width: 28px;
  height: 28px;
  margin-left: 10px;
}
.sources__head-btn-icon::before {
  content: "";
  position: absolute;
  background: #e02d3c;
  width: 10px;
  height: 2px;
  left: 50%;
  margin-left: -5px;
  top: 50%;
  margin-top: -1px;
}
.sources__head-btn-icon::after {
  content: "";
  position: absolute;
  background: #e02d3c;
  height: 10px;
  width: 2px;
  left: 50%;
  margin-top: -5px;
  top: 50%;
  margin-left: -1px;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.sources.hide .sources__head-btn-icon::after {
  opacity: 1;
}
.sources__list {
  position: relative;
  padding: 34px 0 0;
  list-style: none;
  margin: 0;
  counter-reset: myCounter;
}
.sources.hide .sources__list {
  display: none;
}
.sources__item {
  position: relative;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0b1014;
  padding-left: 25px;
  overflow: hidden;
}
.sources__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  counter-increment: myCounter;
  content: counter(myCounter) ".";
}
.sources__item a {
  display: inline-block;
  vertical-align: top;
  color: #2f6fed;
  text-decoration: none;
}
@media only screen and (max-width: 1200px) {
  .sources__item a {
    max-width: calc(100vw - 65px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
@media only screen and (min-width: 1025px) {
  .sources__item a:hover {
    text-decoration: underline;
  }
}

.survey {
  position: relative;
  padding-top: 100px;
}
@media only screen and (max-width: 1200px) {
  .survey {
    padding-top: 50px;
  }
}
.survey__title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #1b1f27;
}
.survey__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}
.survey__btn {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  margin-left: 5px;
  margin-right: 5px;
  padding: 6px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
@media only screen and (min-width: 1025px) {
  .survey__btn:hover {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}
.survey__btn svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 8px;
}
.survey__btn--green {
  background: #009e6a;
}
.survey__btn--red {
  background: #e02d3c;
}
.survey__text {
  position: relative;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #1b1f27;
}
.survey__scale {
  position: relative;
  width: 210px;
  margin-left: auto;
  margin-right: auto;
  height: 7px;
  background: #e02d3c;
  overflow: hidden;
}
.survey__scale-inner {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: #009e6a;
}

.table-content-holder {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
@media only screen and (max-width: 1200px) {
  .table-content-holder {
    display: block;
  }
}
.table-content-holder__descriptions {
  position: relative;
}

.table-content {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
  max-width: 320px;
  width: 100%;
  margin-right: 40px;
}
@media only screen and (max-width: 1200px) {
  .table-content {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.table-content__head {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 13px;
  background: #fcfbf8;
  border: 1px solid #d0d3d8;
  cursor: pointer;
}
.table-content.hide .table-content__head .table-content__head-arrow {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}
.table-content.hide .table-content__head .table-content__head-title {
  color: #b89a6e;
}
.table-content.hide .table-content__head svg {
  fill: #b89a6e;
}
@media only screen and (min-width: 1025px) {
  .table-content__head:hover .table-content__head-title {
    color: #b89a6e;
  }
  .table-content__head:hover svg {
    fill: #b89a6e;
  }
}
.table-content__head-icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 10px;
  fill: #23272f;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.table-content__head-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #23272f;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.table-content__head-arrow {
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 15px;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  fill: #23272f;
}
.table-content__body {
  position: relative;
  border: 1px solid #d0d3d8;
  border-top: 0;
}
.table-content.hide .table-content__body {
  display: none;
}
.table-content__list {
  list-style: none;
  padding: 10px 0;
  margin: 0;
}
.table-content__list li {
  position: relative;
}
.table-content__list a {
  display: block;
  text-decoration: none;
  padding: 6px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1b1f27;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 1025px) {
  .table-content__list a:hover {
    color: #b89a6e;
  }
}
.table-content__list-children {
  padding-left: 20px;
}

.tab {
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.tab.active {
  height: auto;
  overflow: visible;
  opacity: 1;
}

.text-content {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #1b1f27;
}
.text-content p {
  margin: 10px 0 20px;
}
.text-content p:first-child {
  margin-top: 0;
}
.text-content p:last-child {
  margin-bottom: 0;
}
.text-content ol {
  list-style: none;
  padding: 0;
  counter-reset: myCounter;
  margin: 10px 0 20px;
}
.text-content ol:first-child {
  margin-top: 0;
}
.text-content ol:last-child {
  margin-bottom: 0;
}
.text-content ol li {
  margin-bottom: 20px;
  position: relative;
  padding-left: 35px;
}
.text-content ol li:last-child {
  margin-bottom: 0;
}
.text-content ol li::before {
  counter-increment: myCounter;
  content: counter(myCounter) ".";
  position: absolute;
  left: 10px;
  top: 0;
  color: #b89a6e;
  font-weight: 700;
}
.text-content ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 20px;
}
.text-content ul:first-child {
  margin-top: 0;
}
.text-content ul:last-child {
  margin-bottom: 0;
}
.text-content ul li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 35px;
}
.text-content ul li::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 9px;
  width: 6px;
  height: 6px;
  background: #b89a6e;
  border-radius: 50%;
}
.text-content ul li:last-child {
  margin-bottom: 0;
}
.text-content iframe {
  border: 0;
  max-width: 100%;
  vertical-align: top;
  margin: 0 0 20px;
}
.text-content iframe:first-child {
  margin-top: 0;
}
.text-content iframe:last-child {
  margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
  .text-content iframe {
    width: 100%;
    height: 300px;
  }
}
.text-content h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.02em;
  margin: 0 0 20px;
}
@media only screen and (max-width: 767px) {
  .text-content h1 {
    font-size: 26px;
  }
}
.text-content h1:first-child {
  margin-top: 0;
}
.text-content h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  margin: 0 0 20px;
}
@media only screen and (max-width: 767px) {
  .text-content h2 {
    font-size: 22px;
  }
}
.text-content h2:first-child {
  margin-top: 0;
}
.text-content h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  margin: 0 0 20px;
}
@media only screen and (max-width: 767px) {
  .text-content h3 {
    font-size: 20px;
  }
}
.text-content h3:first-child {
  margin-top: 0;
}
.text-content h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 20px;
}
.text-content h4:first-child {
  margin-top: 0;
}
.text-content img {
  display: inline-block;
  vertical-align: top;
  margin: 10px 0 20px;
}
.text-content img:first-child {
  margin-top: 0;
}
.text-content img:last-child {
  margin-bottom: 0;
}
.text-content a {
  color: #2f6fed;
}
@media only screen and (min-width: 1025px) {
  .text-content a:hover {
    text-decoration: none;
  }
}
.text-content hr {
  border-color: #d0d3d8;
  border-top: 0;
  margin: 20px 0;
}

.top-btn-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 44px;
  margin-right: -50px;
}
@media only screen and (max-width: 1200px) {
  .top-btn-box {
    display: none;
  }
}
.top-btn-box--mobile {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .top-btn-box--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
    width: 100%;
    margin-top: 0;
  }
}

.top-btn {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 20px;
  background: #fff;
  border: 2px solid #1b1f27;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #1b1f27;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 1025px) {
  .top-btn:hover {
    background: #e9c795;
    border-color: #e9c795;
  }
  .top-btn:hover .top-btn__icon {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}
.top-btn__icon {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 10px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
/*# sourceMappingURL=index.css.map */
